*
{
  margin:0;padding:0;
}

html,body
{
    height:100%;
}
body
{
  margin: 0 auto;
}


#section-1-wrap
{
  background-color: #333;
}

.about
{
  color: grey;
  width: 85%;
  max-width: 120rem;
  margin: 0 auto;
  font-size: 2.25vw;
  align-self: center;
  padding: 15.2rem 0 10rem;
}

.infobutton
{
  height: 50px;
  width: 50px;
  background-color: white;
  position: absolute;
  left: 7.5%;
  bottom: -1.1rem;
  display: flex;
  transition: opacity 1s;
  opacity: 1;
}

.hidden
{
  opacity: 0;
}

.arrow
{
  margin: 0 auto;;
  text-decoration: none;
  display: block;
  color: black;
  font-size: 32px;
  padding-top: .2rem;
}

#section-2-wrap
{
  background-color: #787c84;
}

.highlight
{
  position: relative;
  overflow: hidden;
}

.highlight_player
{
  background-color: black;
  overflow: hidden;
  position: relative;
}

.video
{
  margin: 0 auto;
  display: block;
  height: 100%;
}

.highlight_strip
{
  max-width: 120rem;
  width: 85%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.highlight_scroll
{
  z-index: 40;
  left: 0px;
  display: flex;
}

.highlight_strip_item
{

  text-align: center;
  position: relative;
  margin: 2px;
  border: none;
  margin-top: 8px;
}

#section3
{
  background-color: #b3b3b3;
}

@media screen and (max-width: 1055px)
{

  .about
  {
    font-size: 1.5rem
  }

}
