*
{
  margin:0;padding:0;
}

html,body
{
    height:100%;
}
body
{
  margin: 0 auto;
}


#section-1-wrap
{
  background-color: #333;
}

.about
{
  color: grey;
  width: 85%;
  max-width: 120rem;
  margin: 0 auto;
  font-size: 2.25vw;
  align-self: center;
  padding: 15.2rem 0 10rem;
}

.infobutton
{
  height: 50px;
  width: 50px;
  background-color: white;
  position: absolute;
  left: 7.5%;
  bottom: -1.1rem;
  display: flex;
  transition: opacity 1s;
  opacity: 1;
}

.hidden
{
  opacity: 0;
}

.arrow
{
  margin: 0 auto;;
  text-decoration: none;
  display: block;
  color: black;
  font-size: 32px;
  padding-top: .2rem;
}

#section-2-wrap
{
  background-color: #787c84;
}

.highlight
{
  position: relative;
  overflow: hidden;
}

.highlight_player
{
  background-color: black;
  overflow: hidden;
  position: relative;
}

.video
{
  margin: 0 auto;
  display: block;
  height: 100%;
}

.highlight_games_section
{
  background-color: #d9d9d9;
}

.highlight_game
{
  height: 160px;
}

.highlight_game_content
{
  height: 100%;
}

.highlight_strip_item img
{
  height: 100%;
  margin-right: 2rem;
  float: left;
}

.highlight_game_content_text
{
  float: left;
  font-size: 16px;
}

.highlight_game_button
{
  height: 100%;
  width: 100px;
  float: right;
  position: relative;
  background-color: white;
  opacity: 0.8;
}

.arrow_right
{
  transform: rotate(90deg);
  position: absolute;
  top: 58px;
  left: 35px;
  font-size: 32px;
  color: black;
}

@media screen and (max-width: 1055px)
{

  .about
  {
    font-size: 1.5rem
  }

}
