*
{
  margin:0;padding:0;
}

html,body
{
    height:100%;
}
body
{
  margin: 0 auto;
}


#section-1-wrap
{
  background-color: #333;
  display: flex;
  align-items: center;
}

.about
{
  color: grey;
  width: 85%;
  max-width: 120rem;
  margin: 0 auto;
  font-size: 2.25vw;
  align-self: center;
  padding: 11rem 0 6rem;
  text-align: center;
}

#section-2-wrap
{
  background-color: #d9d9d9;
  display: block;
  box-sizing: border-box;
}
.games-container
{
  max-width: 120rem;
  width: 85%;
  margin: 0 auto;
  display: block;
  position: relative;
  height: 1600px;
  padding-top: 2rem;
}

.game-wrap
{
  background-color: white;
  position: absolute;
  left: 0%;
  top: 0px;
  width: 22.5%;
  float: left;
  min-width: 200px;
}

.game-item
{
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.game-link
{
  display: block;
  position: absolute;
  width: 100%;
}

.game-link img
{
  width: 100%;
}

.img-area
{
  display: block;
  width: 100%;
  height: 180px;
}

.game-content
{
  padding: 10px;
}

@media screen and (max-width: 1055px)
{
  .game-wrap
  {
    width: 33%;
  }
}
@media screen and (max-width: 700px)
{
  .game-wrap
  {
    width: 45%;
  }
}
@media screen and (max-width: 450px)
{
  .game-wrap
  {
    width: 90%;
  }
}
